<template>
        <div class="row">
            <div class="col-md-9">
                <a v-if="create" :href="create" type="button" class="btn bg-green btn-social btn-flat">
                    <i class="fa fa-plus"></i>
                    Adicionar Nova
                </a>
            </div>
            <div class="box-tools col-md-3">
                <form action="" method="get" :token="token">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" id="busca" name="busca" class="form-control pull-right" placeholder="Buscar ...">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>
    export default {
        props: ['create'],
        methods: {
            haveUrl: function($url) {
                if(!$url) {
                    return 'active'
                }
                return '';
            }
        }
    }
</script>

<style>
    input, button, .pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span, .pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
        border-radius: 0 !important;
    }
</style>