<template>
    <panel title="Experiência" css="info">
        <button id="addExperience" type="button" class="btn bg-green btn-social btn-flat"><i class="fa fa-plus"></i>
            Adicionar Nova
        </button>
        <span id="newExperience"></span>
        <div class="span" v-for="(value, key) in renderExperience" id="formExperience">
            <div class="line-2"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="company" :name="'content[experience]['+key+'][company]'" class="form-control input-sm" :value="(value.company || '')" placeholder="Empresa">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="office" :name="'content[experience]['+key+'][office]'" class="form-control input-sm" :value="(value.office || '')" placeholder="Cargo">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" id="dtInitial" :name="'content[experience]['+key+'][dtInitial]'" class="form-control input-sm" :value="(value.dtInitial || '')" placeholder="Início">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" id="dtFinal" :name="'content[experience]['+key+'][dtFinal]'" class="form-control input-sm" :value="(value.dtFinal || '')" placeholder="Fim">
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Atividades</label>
                    <div class="form-group">
                    <textarea class="form-control" rows="4" id="assignments" :name="'content[experience]['+key+'][assignments]'" placeholder="Descrição das atividades">{{ value.assignments }}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Destaque</label>
                    <div class="form-group">
                    <textarea class="form-control" rows="4" id="featured" :name="'content[experience]['+key+'][featured]'" placeholder="Teve algum destaque">{{ value.featured }}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                            <input  id="address" :name="'content[experience]['+key+'][address]'" type="text" class="form-control input-sm" placeholder="Endereço da empresa" :value="(value.address || '')" :address="key">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" :id="'latAddress_'+key" :name="'content[experience]['+key+'][latAddress]'" class="form-control input-sm" :value="(value.latAddress || '')" placeholder="Latitude">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" :id="'lngAddress_'+key" :name="'content[experience]['+key+'][lngAddress]'" class="form-control input-sm" :value="(value.lngAddress || '')" placeholder="Longitude">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" id="order" :name="'content[experience]['+key+'][order]'" class="form-control input-sm" :value="(value.order || '')" placeholder="Ordem">
                    </div>
                </div>
            </div>
        </div>
    </panel>
</template>

<script>
    export default {
        props: ['items'],
        computed: {
          renderExperience: function () {
              return JSON.parse(this.items);
          }
        },
        mounted: function () {

            let countClicks = ($('div[id^=formExperience]').length);

            $("#addExperience").click(function() {
                let experiences = $('div[id^=formExperience]:last').html();
                let atualID    = "#new_" + countClicks;
                let linkLat = atualID + "  #latAddress_" + (countClicks - 1);
                let linkLng = atualID + "  #lngAddress_" + (countClicks - 1);

                $("#newExperience").prepend('<span id="new_'+countClicks+'">' + experiences + '</span>');

                $(atualID+" #company").attr('name', 'content[experience]['+countClicks+'][company]');
                $(atualID+" #office").attr('name', 'content[experience]['+countClicks+'][office]');
                $(atualID+" #dtInitial").attr('name', 'content[experience]['+countClicks+'][dtInitial]');
                $(atualID+" #dtFinal").attr('name', 'content[experience]['+countClicks+'][dtFinal]');
                $(atualID+" #assignments").attr('name', 'content[experience]['+countClicks+'][assignments]');
                $(atualID+" #address").attr('name', 'content[experience]['+countClicks+'][featured]');
                $(atualID+" #latAddress_").attr('name', 'content[experience]['+countClicks+'][latAddress]');
                $(linkLat).attr('name', 'content[experience]['+countClicks+'][lngAddress]');
                $(linkLng).attr('name', 'content[experience]['+countClicks+'][order]');
                $("#new_"+countClicks + " textarea").val('');
                $( atualID+" #address ").attr('address', countClicks);
                countClicks++;

            });


            let urlApi = 'https://maps.googleapis.com/maps/api/geocode/json';
            let keyApi = 'AIzaSyCPPRqgkj1hf7XM7IwFxj2Cu015-gPKqFs';

            $(document).on('focusout', "input[name*='address']", function () {
                let elAdress    = $( this ).attr('address');
                let addressName = $( this ).val();
                let latitude    = "#latAddress_"+elAdress;
                let longitude   = "#lngAddress_"+elAdress;

                $.ajax({
                    url: urlApi,
                    type: 'get',
                    data:{
                        address: addressName,
                        key: keyApi
                    },
                    success: function(response) {
                        $(latitude).val(response.results[0].geometry.location.lat);
                        $(longitude).val(response.results[0].geometry.location.lng);
                    },
                    error: function(error) {
                        console.log(error)
                    }
                })

            });
        }
    }
</script>
