<template>
    <div class="div">
        <div class="col-md-4">
            <panel title="Adicionar/Editar item" css="info">
                <form id="frmEdit" class="form-horizontal">
                    <div class="form-group">
                        <label for="text" class="col-sm-2 control-label">Texto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control item-menu" name="text" id="text" placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="href" class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control item-menu" id="href" name="href" placeholder="URL">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="target" class="col-sm-2 control-label">Target</label>
                        <div class="col-sm-10">
                            <select name="target" id="target" class="form-control item-menu">
                                <option value="_self">Self</option>
                                <option value="_blank">Blank</option>
                                <option value="_top">Top</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Tooltip</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" class="form-control item-menu" id="title" placeholder="Tooltip">
                        </div>
                    </div>
                </form>
                <div class="panel-footer">
                    <button type="button" id="btnUpdate" class="btn btn-primary" disabled="disabled"><i class="fa fa-refresh"></i> Update</button>
                    <button type="button" id="btnAdd" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                </div>
            </panel>
        </div>
        <div class="col-md-8">
            <panel title="Menu" css="info">
                <div class="panel-body" id="cont">
                    <ul :id="id" class="sortableLists list-group">
                    </ul>
                </div>
                <button id="btnOut" type="button" class="btn btn-success"><i class="fa fa-check"></i> Saída</button>
                <textarea id="out" class="form-control" cols="50" rows="10"></textarea>
            </panel>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
    }
</script>

<style>

</style>