<template>
    <div :class="'box box-' + css ">
        <div class="box-header">
            <h3 v-if="title" class="box-title">{{ title }}
                <small v-if='subtitle'>{{ subtitle }}</small>
            </h3>
            <!-- tools box -->
            <div v-if="!buttons" class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
            <!-- /. tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body pad">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'subtitle', 'buttons', 'css'],
    }
</script>
