<template>
    <div class="form-group">
        <label for="type">Template</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-files-o"></i>
            </div>
            <select class="form-control input-sm" id="type" name="type">
                <option v-for="(type) in templates" :value="type['value']" :selected="template == type['value']">
                    {{ type['label'] }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['template'],
        computed: {
            templates: function() {
                let types = [
                    {'value': 'default', 'label' : 'Modelo Padrão'},
                    {'value': 'home', 'label' : 'Principal'},
                    {'value': 'blog', 'label' : 'Blog'},
                    {'value': 'aboutus', 'label' : 'Biografia'},
                    {'value': 'jobs', 'label' : 'Currículo'},
                    {'value': 'portfolio', 'label' : 'Portfólio'},
                ];
                return types;
            }
        }
    }
</script>
