<template>
    <div id="upload-image">
        <div class="form-group">
            <div class="input-group">
        <span class="input-group-btn">
         <a id="browserImage" data-input="thumbnail" data-preview="holder" class="btn btn-primary btn-sm" v-on:click="upload({type: 'image', prefix: '/uploads'})">
           <i class="fa fa-picture-o"></i> Selecionar
         </a>
        </span>
                <input v-if="image" :id="id" :name="name" class="form-control input-sm" type="text" :value="image">
                <input v-if="!image" :id="id" :name="name" class="form-control input-sm" type="text">
            </div>
        </div>
        <img v-if="image" :id="id+'thumbnail'" :src="'/images/'+image" class="img-responsive img-thumbnail img-fluid">
        <img v-if="!image" :id="id+'thumbnail'" class="img-responsive img-thumbnail img-fluid" style="display: none">
    </div>


</template>

<script>
    export default {
        props: ['id', 'name', 'image'],
        methods: {
            upload: function(options) {
                let route_prefix = (options && options.prefix) ? options.prefix : '/laravel-filemanager';
                let inputName = "#" + this.id;
                let inputThumb = "#" + this.id + "thumbnail";
                window.open(route_prefix + '?type=' + options.type || 'file', 'FileManager', 'width=900,height=600');
                window.SetUrl = function(url, path){
                    let file = path.split('/');
                    $(inputThumb).show();
                    $(inputThumb).attr('src', path);
                    $(inputName).val(file[2]);
                };
            }
        }
    }
</script>

<style>
    .img-thumbnail {
        border-radius: 0;
    }
    .btn {
        border-radius: 0;
    }
</style>